<html>
	<head>
	<!--<script src="/percorso/js/prepopulate.js"></script>-->
	<link href="/percorso/s/css/widget_style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="header">
			<div id="rsm-sx"><img src="/xhtml/s/img/muoversiaroma.png" width="153" height="50" alt="logo" /></div>
			<div id="rsm-dx"></div>
			<div id="widget">
				<form  name="input" action="http://muovi.roma.it/percorso/js/" method="get" target="_blank">
					<input type="text" class="textarea" name="da" style="color:#ccc;" value="   inserisci l'indirizzo di partenza" onclick="this.value='';this.onclick='';this.style.color='#000';" />
					<input type="hidden" name="a" value="{{ a }}">
					<input type="hidden" name="cp" value="1">
					<input type="submit" class="button" value="Trovaci">
				</form>
			</div>
		</div>
	</body>
</html>
